
    <main>
        <div class="user-info">
            <div>
                <p>Email: <span>{{user.email}}</span></p> |
                <p>My offers: <span>[{{user.shoes.length}}]</span></p> |
                <p><a href="/logout">Logout</a></p>
            </div>
            <div class="shoes">
                {{#each user.shoes}}
                    {{>shoe}}
                {{/each}}
            </div>
            <p class="total-profit">Total profit: <span>{{totalPrice}}</span></p>
        </div>
    </main>
