<blockquote class="card-blockquote">

    <img src="./images/{{this.imageUrl}}" />

    <p>{{this.description}}</p>

    <footer>Someone famous in

        <cite title="Source Title">Source Title</cite>

    </footer>

    <div class="pull-right">

        <a href='#' class="btn btn-info">Details</a>

    </div>

</blockquote>