<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <title>Shoe Shelf</title>
    </head>

<body>
    <header>
        <nav>
            <ul>
                {{#if user}}
                <li><a href="/create">Create new offer</a></li>
                {{/if}}
                <li class="site-logo">Shoe</li>
                <li>
                    <a href="/">
                        <img src="/images/sneakers.png" alt="">
                    </a>
                </li>
                <li class="site-logo">Shelf</li>
                 {{#if user}}
                <li>Welcome, {{user.email}} | <a href="/logout">Logout</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    {{{body}}}
    <footer>
        <p><a href="https://softuni.bg">Software University</a> - JS Back End @ 2020</p>
    </footer>
</body>

</html>